        </main>
        <footer class="page-footer font-small blue bg-dark mt-auto text-light">
            <div class="footer-copyright text-center py-3">© 2020 Copyright:
                <a href="/"> Mipagina.com</a>
            </div>
        </footer>
    </body>
</html>